/* =============
    adult
============= */

#adult{
    
    ul{
        border: blueviolet;
        li{
            display: grid;
            grid-template-columns: 50px auto 15px;
            grid-template-areas: ". adult .";
    
            div{
                grid-area: adult;
            }
        }
    }
}
