/* =============
    adult
============= */

#adult{
    
    ul{
        background-color: chartreuse;
        li{
            background-color: chocolate;
            padding: 10px;

            // display: grid;
            // grid-template-columns: 50px auto 15px;
            // grid-template-areas: ". adult .";
    
            div{
                text-transform: lowercase;
                background-color: cornflowerblue;
                text-align: left;
            }
        }
    }
    .tech{
        text-align: right;
    }
}
