/* =============
    calendar
============= */

#calendar{

    img{
        width: 30%;
    }

    ul{
        display: grid;
        // background-color: blueviolet;
        li{
            // background-color: brown;
            grid-template-columns: 16px auto 16px;
            padding: 16px;

            div{
                // border-width: thick;
                // background-color: cadetblue;
                text-align: center;
            }
        }
    }

    .scroll{
        background-color: chartreuse;
        width: auto;
        align-self: center;
    }
    }
