/* =============
    calendar
============= */

#calendar{

    display: grid;
    grid-template-columns: 16 auto 16px;
    grid-template-areas:". header ."
                         ". scroll ."
                         ". content .";

    h1{ 
        grid-area: header;
        margin-bottom: 20px;
        margin-top: 20px;
        font-weight: bold;

    }

    #scroll{
        grid-area: scroll;
       h3{ text-align: center;}
    }

    ul{
        display: grid;
        padding: 20px;
        grid-area: content;

        li{
            // grid-template-columns: 16px auto 16px;
            margin-bottom: 20px;
            

            div{
                text-align: center;
                h2{
                    margin-bottom: 15px;
                }
            }
        }
    }
}
