/* =============
    calendar
============= */

#calendar{

    h1{
        padding: 20px;
    }

    #scroll{
       h3{
           text-align: center;
       }

    }

    ul{
        display: grid;
        padding: 20px;
        // background-color: blueviolet;
        li{
            // background-color: brown;
            grid-template-columns: 16px auto 16px;
            padding: 16px;

            div{
                // border-width: thick;
                // background-color: cadetblue;
                text-align: center;
            }
        }
    }

    // .scroll{
    //     background-color: chartreuse;
    //     width: auto;
    //     align-self: center;
    // }
    }
