/* =============
    group
============= */

#group{
    text-align: right;
   display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: 
    ". content .";
>div{
   
    grid-area: content;
    
    // #header{
    //     
    // }
    // #buttonred{
    //     
    // }
    img{
        width: 100%;
        grid-area: img;
    }
    // p{
    //     
    // }
    #phone{
        text-align: left;
         @include md{
             display: none;
         }
    }
    #md{
        display: none;
    }
}
   
}

