/* =============
    group
============= */

#group{
    text-align: right;
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: 
    ". content .";

    @include xl{
        display: grid;
        grid-template-columns: 50px auto 50px;
        grid-template-areas: 
        ". content .";
    }
    
>div{
   
    grid-area: content;

    @include xl{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-areas: "h1 h1"
                             "image image"
                             "md button";
    }
    
    h1{
        margin: 20px;
        @include xl{
            grid-area: h1;
        }
    }
   >div{
       img{
        width: 100%;
        grid-area: img;

    }

     @include xl{
            img{
                display: none;
            }

            background-image: url("../img/paintingclay.png");
            background-position: center;
            background-size: cover;
            grid-area: image;
            height: 500px;
            width: 1200px;
            margin-left: 200px;
            margin-right: -100px;
        }
   }
    
    #phone{
        text-align: left;

         @include md{
             display: none;
         }

         
    }
    #md{
        display: none;

        @include md{
            display: grid;
            margin-top: 20px;
        }

        @include xl{
            background-color: $yellow;
            grid-area: md;
            text-align: left;
            margin-top: -40px;
            margin-bottom: 150px;
            margin-left: -30px;
            padding: 15px;
        }

    }

  aside{
      @include xl{
          grid-area: button;
      }
  }
}
   
}

