/* =============
    group
============= */

#group{
    margin: 16px;
    text-align: right;

    @include md{
        // display: grid;
        // grid-template-columns: 16px 60% 40% 16px;
        // grid-template-areas: ". . Header ."
        // ". image ."
        // ". content button .";
    }

    h1{
        text-align: right;
        margin-bottom: 20px;
        margin-top: 60px;
        grid-area: header;
    }

    p{
        margin-top: 16px;
        margin-bottom: 16px;
        text-align: left;
    }
    
    #phone{

        @include md{
            display: none;
        }
    }
    #md{
        display: none;

        @include md{
            grid-area: content;
            display: grid;
        }
    }

    #buttonred{
        grid-area: button;
    }

    img{
        grid-area: image;
        width: 100%;
    }

}