/* =============
    hero
============= */
#hero{
    
    img{
        object-fit: cover;
        width: 100%;
    }

    .p{
        padding: 50px;
        text-align: center;
        font-style: italic;
        font-size: 15px;
    }
}