/* =============
    hero
============= */

#hero{

    img{
        width: 100%;
    }
    
    ul{
        li{
            display: grid;
            grid-template-columns: 16px auto 16px;
            Grid-template-areas: ". hero ."
        }
    }
}