/* =============
    hero
============= */

#hero{

    img{
        width: 100%;
    }
    
    ul{
        li{
            p{
                display: grid;
                grid-template-columns: 16px auto 16px;
                text-align: center;
            }
        }
    }
}