/* =============
    plan
============= */

#plan{

    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". plan .";

    @include lg{
        grid-template-columns: auto 800px auto;
    }

    img{
        width: 100%;
        
        @include lg{
            width: 100%;
            margin-left: 30vw;
        }
    }
    
    ul{ 
        grid-area: plan;
        
        display: grid;
        grid-template-columns: 60% auto;
        grid-template-areas: "img1 home"
                            "img2 date";
       

        @include lg{
            grid-template-columns: 40% auto;
            grid-template-areas: "img1 img1"
                                 "paint-p home"
                                 "img2 img2"
                                 "cost date";
            grid-template-rows: 400px;
        }

        #img1{
           grid-area: img1;
           @include lg{
            img{
                display: none;
            }
            background-image: url("../img/mug.png");
            background-position: center;
            background-size: cover;
           
        }

        }

        #img2{

            grid-area: img2;

            @include lg{

                img{
                    display: none;
                }

                background-image: url("../img/wheel.png");
                background-position: center;
                background-size: cover;
                height: 400px;
            }
        }
       
        #home{
           grid-area: home;
           justify-content: center;
           align-items: center;
           margin-top: 20px;
           margin-left: 50px;
        }

        #paint-p{
            display: none;

            @include lg{
                display: list-item;
                grid-area: paint-p;
                background-color: $yellow;
                margin-top: -100px;
                margin-bottom: 90px;
                margin-left: -30px;
                padding: 15px;
               
                
            }
        }

        #cost{
            display: none;
            @include lg{
                display: list-item;
                grid-area: cost;
                background-color: $yellow;
                margin-top: -70px;
                margin-bottom: 90px;
                margin-left: -30px;
                padding: 15px;
            }
        }

        #date{
            grid-area: date;
            align-items: center;
            margin-top: 20px;
            margin-left: 50px;
            

            #nofood{
                
                display: none;

                @include md{
                    display: grid;
                    margin-top: 20px;
                    font-weight: 30;
                    font-size: 15px;
                   
                }

                @include lg{
                    display: grid;
                    font-weight: 30;
                    font-size: 15px;
                    // padding: 20px;
                }
                
            }
        }
    }
}