/* =============
    rent
============= */

#rent{
    ul{
        display: grid;
        grid-template-columns: 16px auto 16px;
        grid-template-areas: ". rent ."
                             ". video ."
                             ". button . ";

        li{
            text-align: right;
            grid-area: rent;

            h1{
                margin-bottom: 20px;
                margin-top: 40px;
            }
            
            button{
                grid-area: button;
                margin-top: 600px;

        }

        #video{
            text-align: right;
            margin-top: 20px;
            grid-area: video;
            width: 100%;
        }

        }
    }
}