/* =============
    rent
============= */

#rent{
    text-align: right;
    grid-template-columns: 16px auto 16px;
ul{
    grid-area: content;
    grid-template-columns: 100%;
    grid-template-areas: "header"
                         "video"
                         "blerb";

    #h1{
        grid-area: header;
        margin-top: 20px;
        
        
    }

    #video{
        
        grid-area: video;
        margin-top: 20px;
        width: 100%;
    }

    #blerb{
        
        grid-area: blerb;
        margin-top: 15px;

    }
}

#buttonred{
    grid-area: buttonred;
    margin-top: 20px;
    }

}
    
