/* =============
    rent
============= */

#rent{
    text-align: right;
    // display: grid;
    // grid-template-columns: 16px auto 16px;
    // grid-template-areas: ". header ."
    //                      ". video ."
    //                      ". blerb ."
    //                      ;
    // background-color: black;
ul{
    
    #h1{
        grid-area: header;
        background-color: blueviolet;
        
    }

    #video{
        
        grid-area: video;
        margin-top: 20px;
        width: 100%;
    }

    #blerb{
        // background-color: blueviolet;
        grid-area: blerb;
        margin-top: 15px;

    }
}

#buttonred{
    grid-area: buttonred;
    margin-top: 20px;
    }

}
    
