/* =============
    Footer
============= */

footer{

    display: grid;
    grid-template-columns:16px auto 16px;
    grid-template-areas: ". footer .";
    padding-top: 10px;
    margin-top: 100px;
    background-color: $lightgray;


    >div{
      grid-area: footer;

      display: grid;
      grid-template-columns: 40% 10% 50%;
      grid-template-areas: "address . hours"
      "logo . social";

   #address{
        grid-area: address;
    }

    #logo{
       grid-area: logo;
       margin-top: -90px;
    }

    #hours{
        grid-area: hours;
        margin-bottom: 20px;
        // background-color: burlywood;

        h2{ margin-bottom: 20px;}
        ul{
            li{
                margin-bottom: 20px;
                #walk{
                    margin-top: 15px;
                }
            }
        }
        
        @include md{
            padding-left: 60px;
        }
    }

    #social{
        grid-area: social;
        // size: 150px;
        ul{
             display: flex;
             margin-left: 55px;
             
             li{
                padding: 5px;
             }
             
        @include md{
            ul{
                li{
                    margin-left: 60px;
                }
            }
        }
        }
    } 
    }
}

